/** Add css rules here for your application. */
.tabSetContainer
{
	borded-size:0px;
}
body
{
	background-image: url('gradient.jpg');
}
/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}
.tabSetContainer{
	background-color: transparent !important;
}
.labelAnchor
{
	width: 600px;
}
.formTitle
{
	width:300px;
}
.labels2
{
	color: #666666;
    font: bold 16px/1em "Helvetica Neue",Helvetica,sans-serif;
	text-align: center;
	heith: 30px;
}
.sendButton {
  display: block;
  font-size: 16pt;
}
.pickers
{
	width: 100%;
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}
#labels
{
	margin-top: 10px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.center2
{
	align: center;
}